@font-face {
    font-family: head;
    src: url(./Heading-Now-Variable.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#main{
    width:100%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 80px;
    padding:30px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    font-family: head;
    font-stretch:300%;
    font-size: 30px;
    font-weight:100;
    color: white;
}
#nav h2{
    position: relative;
    right: 50px;
    font-size: 60px;
    width: 100px;
    animation: expand 6s ease infinite;
}
#links{
    margin-left:30vw ;
    display: flex;
    flex-direction: row;
    gap:100px;
    font-size: 26px
}
#page1{
    width:100%;
    height: 100vh;
    color: white;
    padding-left: 25px;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 100vh;
    font-stretch: 250%;
    font-weight: 999;
    font-family: head;
    white-space: nowrap;
    transform: translateY(-25vh);
    margin-left: 25px;
}
#loader{
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: gray;
    color: black;
    font-family: head;
    font-style: unset;
    font-stretch: 800%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

@keyframes expand {
    0% {
        font-stretch: ultra-expanded; /* Start and end position */
        color: #FF671F
    }
    33% {
        font-stretch: 400%; /* Midway position */
        color:#FF671F
    }
    50%{
        color:white;
    }
    67% {
        font-stretch: 400%; /* Midway position */
        color: #046A38;
    }
    100% {
        font-stretch: ultra-expanded; /* Midway position */
        color:#046A38;
    }

  }